@page "/consultar-tarefas"

<div class="m-4">
    <div class="card">
        <div class="card-body">

            <h3 class="mt-2">Consulta de tarefas</h3>
            <p>Pesquise tarefas pelo períod de datas desejado.</p>

            <hr />

            <form>

                <div class="row mb-2">
                    <div class="col-md-4">
                        <input type="datetime-local" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <input type="datetime-local" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-success" value="Pesquisar tarefas" />
                    </div>
                </div>

            </form>

            <div class="table-responsive mt-2">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nome da tarefa</th>
                            <th>Data e hora</th>
                            <th>Prioridade</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-sm btn-primary me-1">Editar</button>
                                <button class="btn btn-sm btn-danger me-1">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                Quantidade de tarefas: 0
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

@code {

}



